.contact{
    background-color: rgb(223, 250, 223);
}
.contact-header{
    margin-top: 20px;
    padding-top: 10px;
}
.input-field {
    padding: 12px;
    margin: 5px;
    border: 1px solid gray;
    outline: none;
    border-bottom: 1px solid gray;
  }
  .input-btn {
    background-color: rgb(141, 139, 140);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    width: 30%;
    margin-top: 20px;
  }
  